@model IEnumerable<BulkyBook.Models.CoverType>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> CoverType List</h2>
        </div>
        <div class="col-6  text-end">
            <a asp-controller="CoverType" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New CoverType
            </a>
        </div>
    </div>
</div>

<table class="table table-hover table-striped border-dark bg-white" style="width:100%">
    <thead>
        <tr class="table-dark">
            <th>
                <a class="nav-link text-white">CoverType Name</a>
            </th>
            <th>
                EDIT
            </th>
            <th>
                DELETE
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="80%">
                    <a class="nav-link text-black">@obj.Name</a>
                </td>
                <td width="10%">
                    <div class="w-75 btn-group" role="group">
                        <a class="nav-link text-black" asp-controller="CoverType" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn btn-primary" mx-2><i class="bi bi-pencil-square"></i>  Edit</a>
                    </div>
                </td>
                <td width="10%">
                    <div class="w-75 btn-group" role="group">
                        <a class="nav-link text-black" asp-controller="CoverType" asp-action="Delete" asp-route-id="@obj.Id"
                       class="btn btn-danger" mx-2><i class="bi bi-trash"></i>  Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>